<h1>Display your Pirate here</h1>
<h3><%= @pirate.name %></h3><br>
<h3><%= @pirate.weight %></h3><br>
<h3><%= @pirate.height %></h3><br>

<% Ships.all.each do |ship| %>
  <h4> Ship Name: <%= ship.name %></h4><br>
  <h4> Ship Type: <%= ship.type %></h4><br>
  <h4> Ship Booty: <%= ship.booty %></h4><br>
  <br>
<% end %>
